@using DergiAboneTakip.Models
@using X.PagedList
@using X.PagedList.Mvc.Core
@model X.PagedList.PagedList<DergilerTablosu>

@{
    ViewData["Title"] = "Dergiler";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="text-center">

    <br />

    <table class="table table-hover">

        <tr>
            <th style="text-align:center">ID</th>
            <th style="text-align:center">Kategori Adı</th>
            <th style="text-align:center">Dergi Adı</th>
            <th style="text-align:center">Fiyat (₺)</th>
        </tr>
        @foreach (var x in Model)
        {
            <tr>


                <td>@x.ID</td>
                <td>@x.kategori.KategoriAdi</td>
                <td>@x.DergiAdi</td>
                <td>@x.Fiyat ₺</td>

            </tr>
        }

    </table>

</div>
@Html.PagedListPager((IPagedList)Model, s => Url.Action("Dergiler", new { s }))

<a href="~/Admin/DergiEkle" class="btn btn-primary">Yeni Dergi Ekle</a>